#Arhivos a conexin 
#Model/connection.model.js
Model/testingQuery.model.js

#carpeta de modulos de node
node_modules/

#JSONs de node 
package-lock.json
package.json

#Variables Locales
LocalVariables.env