<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books registration</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
    src="https://kit.fontawesome.com/b55d7e5cd9.js"
    crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <body id="contenedorSupremo">
      <!-- NAVBAR -->
      <nav class="navbar navbar-black bg-black fixed-top mb-5">
        <div class="container-fluid">
          <div class="d-flex flex-row align-items-center">
            <a class="navbar-brand text-white" href="/Home"
              ><h1 class="display-6">Biblos</h1></a
            >
            <ul class="navbar-nav d-flex flex-row align-items-center">
              <li class="nav-item m-2">
                <a
                  class="nav-link active text-white"
                  aria-current="page"
                  href="/Home"
                  >Home</a
                >
              </li>
              <li class="nav-item m-2">
                <a class="nav-link active text-white" href="/BooksIndex"
                  >Books</a
                >
              </li>
              <li class="nav-item m-2">
                <a class="nav-link active text-white" href="/Favorites"
                  >Favorites</a
                >
              </li>
              <!-- <li class="nav-item m-2">
                <a class="nav-link active text-white" href="/Cesta"
                  >Cesta</a
                >
              </li> -->
              <% if( session.Role === "Admin") { %>
              <li class="nav-item m-2">
                <a class="nav-link active text-white" href="/"
                  >admin. users</a
                >
              </li>
              <li class="nav-item m-2">
                <a class="nav-link active text-white" href="/BooksRegistration"
                  >Regis. Book</a
                >
              </li>
              <% } %>
            </ul>
          </div>
          <div class="w-25 d-flex justify-content-end align-items-center">
            <div class="d-flex justify-content-end align-items-center">
              <p class="text-white m-3 ms-5">
                <%= session.Name + " " + session.LastName %>
              </p>
              <img
                src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
                class="rounded-circle"
                height="45"
                alt="Portrait of a Woman"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </nav>
      <!-- NAVBAR -->

    <div class="mt-5 mb-5 text-white">.</div>

    <!-- FORM -->
    <div
      class="container d-flex flex-row mt-5 shadow-lg p-3 mb-5 bg-white rounded p-5 justify-content-around rounded"
    >
      <img
        src="/background/coverBooks.jpg"
        id="preview"
        alt=""
        width="400"
        height="600"
      />

      <form
        action="/upload"
        method="POST"
        enctype="multipart/form-data"
        class="text-center"
        style="width: 400px"
      >
        <h3 class="text-center">
          Registrando nuevo libro
        </h3>

        <label for="title" class="form form-label"
          ><strong>Titulo</strong></label
        >
        <input
          type="text"
          id="title"
          name="title"
          required
          class="form form-control text-center"
          value=""
        />

        <label for="autor" class="form form-label"
          ><strong>Autor</strong></label
        >
        <input
          type="text"
          id="autor"
          name="autor"
          required
          class="form form-control text-center"
          value=""
        />

        <div class="form-group">
          <label for="description" class="form form-label"
            ><strong>Descripcion</strong></label
          >
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="3"
          ></textarea>
        </div>

        <label for="year" class="form form-label"
          ><strong>Año de publicacion</strong></label
        >
        <input
          type="number"
          id="year"
          name="year"
          min="1700"
          max="<%= new Date().getFullYear() %>"
          required
          class="form form-control text-center"
          value=""
        />

        <label for="price" class="form form-label"
          ><strong>Precio</strong></label
        >
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            type="text"
            class="form-control text-center"
            name="price"
            id="price"
            min="1"
            max="10000"
            aria-label="Amount (to the nearest dollar)"
            placeholder="0.00"
            step="0.01"
            value=""
          />
        </div>

        <label for="stock" class="form form-label"
          ><strong>Cantidad disponible</strong></label
        >
        <input
          type="number"
          id="stock"
          name="stock"
          min="0"
          max="1000"
          required
          class="form form-control text-center"
          value=""
        />

        <label for="stock" class="form form-label"><strong>Paginas totales</strong></label>
        <input type="number" class="form form-control text-center" id="bookPages" name="bookPages" required>

        <label for="stock" class="form form-label"><strong>Lenguaje</strong></label>
        <select name="bookLanguage" id="bookLanguage" class="form form-select" required>
          <option value="Español">Español</option>
          <option value="Ingles">Ingles</option>
          <option value="Frances">Frances</option>
          <option value="Chino">Chino</option>
          <option value="Japones">Japones</option>
        </select>

        <label for="stock" class="form form-label"><strong>Generos de literatura</strong></label>
        <select name="genre1" id="genre1" class="form form-select">
          <option value="">--Nada--</option>
          <option value="Contemporanea">Contemporanea</option>
          <option value="Estudios literarios">Estudios literarios</option>
          <option value="Clasicos">Clasicos</option>
          <option value="Cuentos">Cuentos</option>
          <option value="Poesia">Poesia</option>
          <option value="Teatro">Teatro</option>
          <option value="Libros de bolsillo">Libros de bolsillo</option>
        </select>

        <label for="stock" class="form form-label"><strong>Generos literarios</strong></label>
        <select name="genre2" id="genre2" class="form form-select">
          <option value="">--Nada--</option>
          <option value="Novela romantica y erotica">Novela romantica y erotica</option>
          <option value="Novela negra">Novela negra</option>
          <option value="Novela fantastica">Novela fantastica</option>
          <option value="Novela de ciencia ficcion">Novela de ciencia ficcion</option>
          <option value="Novela de terror">Novela de terror</option>
          <option value="Narrativa de humor">Narrativa de humor</option>
          <option value="Narrativa de viajes">Narrativa de viajes</option>
        </select>

        <label for="stock" class="form form-label"><strong>Comics y Manga</strong></label>
        <select name="genre3" id="genre3" class="form form-select">
          <option value="">--Nada--</option>
          <option value="Novela grafica americana">Novela grafica americana</option>
          <option value="Novela grafica europea">Novela grafica europea</option>
          <option value="Novela grafica de otros paises">Novela grafica de otros paises</option>
          <option value="Libros de ilustracion">Libros de ilustracion</option>
          <option value="Comic de humor">Comic de humor</option>
          <option value="Comic erotico">Comic erotico</option>
          <option value="Seinin">Seinin</option>
          <option value="Hentai">Hentai</option>
          <option value="Shonen">Shonen</option>
          <option value="Shojo">Shojo</option>
        </select>

        <div
          class="d-flex flex-column justify-content-center align-items-center mt-5"
        >
          <input
            type="file"
            id="fileInput"
            name="image"
            onchange="showPreview(event)"
            class="form-control-file"
            value=""
          />
        </div>

        <div>
          <button type="submit" class="btn btn-success btn-rounded mt-5">
            Guardar
          </button>
          <a class="btn btn-warning mt-5" href="/BooksIndex">Cancelar</a>
        </div>
      </form>
    </div>
    <!-- FORM -->

    <!-- Modal de éxito -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="successModalLabel">Operación exitosa</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            La operación se ha realizado con éxito.
          </div>
        </div>
      </div>
    </div>

    <script>
      function showPreview(event) {
        const file = event.target.files[0];
        const preview = document.getElementById("preview");
        const reader = new FileReader();
        reader.onload = function () {
          preview.src = reader.result;
          preview.style.display = "block";
          s;
        };
        if (file) {
          reader.readAsDataURL(file);
        } else {
          preview.src = "";
        }
      }
    </script>

    <script src="/scripts/ShowMessage.js"></script>
  </body>
</html>