<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblo home</title>
</head>
<body>
    <h1>Biblo Home</h1>
    <% if ( session.userId !== undefined ) {%>
        <p><%= session.userId %></p>
        <p><%= session.Name %></p>
        <p><%= session.Email %></p>
    <% } %>

    <a href="/Logout">Cerra sesion</a>
    <a href="/">Ir a administracion de usuarios</a>
</body>
</html>