<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sig in</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="fullcontent">
      <div class="headings">
        <h1>Biblo Log In</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem minima libero, quisquam voluptates reprehenderit quia! Sit vel vero officiis doloribus?Lorem</h2>
      </div>
      <div class="formbox">
        <h3>Log In</h3>
        <form method="POST" action="/SignIn">

          <div>
            <% if( typeof userFound !== 'undefined' && userFound === false ) {%>
              <p class="alert alert-danger" role="alert">Usuario no encontrado, por favor verifique los datos</p>
            <% } %>
          </div>
    
          <div>
            <% if( typeof validPassword !== 'undefined' && validPassword === false ) {%>
              <p class="alert alert-danger" role="alert">Contraseña o nombre de usuario incorrectos, por favor intente de nuevo</p>
            <% } %>
          </div>
    
          <div>
            <% if( typeof userFound !== 'undefined' && typeof emailConfirmation !== 'undefined' && typeof validPassword !== 'undefined'  && userFound === true && emailConfirmation === false && validPassword === true ) {%>
              <p class="alert alert-danger" role="alert">El usuario aun no ha confirmado su correo electronico, no puede continuar</p>
            <% } %>
          </div>

          <label for="userName">Username</label>
          <input type="text" name="userName" class="asd <%= (typeof inputValid !== 'undefined' ? inputValid : '' ) %>" id="userName"/>
          <label for="">Password</label>
          <input type="password" id="password" name="password" class="asd <%= (typeof inputValid !== 'undefined' ? inputValid : '' ) %>" />
          <input id="btn" type="submit" name="submit" value="Log In" class="mainbox">
          <label for="">New customer?</label>
          <a id="register-link" href="/Register">Register Now</a>
        </form>
      </div>
    </div>

    <script>
      window.history.replaceState({ page: 'home' }, 'Home', '/');

      window.history.pushState({ page: 'error' }, 'Error', '/');

      window.addEventListener('popstate', (event) => {
        if (event.state && event.state.page === 'error') {
          window.location.href = '/SignIn';
        }
      });
    </script>
  </body>
</html>
