#grandFather {
  width: 100%;
  height: 100%;
  /* border: 1px solid #3c3c3c; */
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}

#lineaDivision {
  max-width: 100%;
  color: red;
}

#imageBook {
  width: 200px;
  height: 280px;
  margin-bottom: 20%;
}

#capType {
  width: 97%;
  /* border: 1px solid black; */
}

#informationSide {
  max-width: 100%;
}

#elPapa {
  width: 16%;
}

#sidebarMenu {
  display: none;
}

@media (min-width: 768px) {
  #sidebarMenu {
    display: block;
  }
}

#bookTitleStyle{
  border-top: 1px solid rgb(213, 213, 213);
  width: 100%;
}

/* @media (max-width: 1200px) {
  #imageBook {
    display: none;
    margin-bottom: 20%;
  }
} */

#envioGratis{
  height: 10px;
  width: 100%;
}