#contenedorSupremo {
  background-image: url("/background/image.jpg");
  background-position: center;
}

#informationSide {
  width: 1000px;
}

#btnComprar{
  background-color: #D9017A;
  width: 100%;
}

#btnComprarDisabled{
  background-color: #F15A59;
  text-decoration: line-through;
}

.modal-transparent {
  background-color: transparent;
}

#hideCommentsBtn:hover{
  cursor: pointer;
}

#load-more:hover{
  cursor: pointer;
}

/* #grandFather{
  border-right: 1px solid rgb(174, 173, 173);
} */
#description {
  position: relative;
}

#description::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}

.description-fade::after {
  display: none; /* Eliminar el efecto de desvanecimiento cuando se agrega la clase */
}